[access]
	inheritFrom = aai
[project]
	description = This holds the model, annotations and common modules used across the Resources and Traversal micro services
[access "refs/*"]
	read = group GitHub Replication
[allowSuperproject "doc"]
	matching = refs/heads/beijing:refs/heads/2.0.0-ONAP
	matching = refs/heads/beijing:refs/heads/beijing
