<!--

    ============LICENSE_START=======================================================
    org.onap.aai
    ================================================================================
    Copyright © 2017 AT&T Intellectual Property. All rights reserved.
    ================================================================================
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
    ============LICENSE_END=========================================================

    ECOMP is a trademark and service mark of AT&T Intellectual Property.

-->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<contextName>${module.ajsc.namespace.name}</contextName>
	<jmxConfigurator />
	<property name="logDirectory" value="${AJSC_HOME}/logs" />
	
	<!-- Example evaluator filter applied against console appender -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter"> -->
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{1024} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="METRIC"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<file>${logDirectory}/rest/metric.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logDirectory}/rest/metric.log.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<!--  <triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy> -->
		<encoder>
			<pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}|%m%n</pattern>
		</encoder>
	</appender>

	<appender name="DEBUG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<file>${logDirectory}/rest/debug.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logDirectory}/rest/debug.log.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<!--  <triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize> 
		</triggeringPolicy>-->
		<encoder>
			<pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}|%m%n</pattern>
		</encoder>
	</appender>

	<appender name="ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<file>${logDirectory}/rest/error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logDirectory}/rest/error.log.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<!-- <triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>-->
		<encoder>
			<!-- <pattern>"%d{HH:mm:ss.SSS} [%thread] %-5level %logger{1024} - %msg%n"</pattern> -->
			<pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}|%m%n</pattern>
		</encoder>
	</appender>
	
		<appender name="AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.core.filter.EvaluatorFilter">
	      <evaluator>        
	        <matcher>
	          <Name>audit</Name>
	          <!-- filter out odd numbered statements -->
	          <regex>co\=aairest</regex>
	        </matcher>        
	        <expression>level == INFO &amp;&amp; audit.matches(formattedMessage)</expression>
	      </evaluator>
	      <OnMatch>ACCEPT</OnMatch>
	      <OnMismatch>DENY</OnMismatch>
	    </filter>
		<file>${logDirectory}/rest/audit.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logDirectory}/rest/metric.log.%d{yyyy-MM-dd}</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}|%m%n</pattern>
		</encoder>
	</appender>
	
	<appender name="auditLogs"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
		</filter>
		<file>${logDirectory}/rest/audit.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logDirectory}/rest/audit-${lrmRVer}-${lrmRO}-${Pid}.%d{yyyy-MM-dd}.log.zip
			</fileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>"%d [%thread] %-5level %logger{1024} - %msg%n"</pattern>
		</encoder>
	</appender>
	
	<appender name="perfLogs"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
		</filter>
		<file>${logDirectory}/rest/perform.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logDirectory}/rest/perform-${lrmRVer}-${lrmRO}-${Pid}.%d{yyyy-MM-dd}.log.zip
			</fileNamePattern>
		</rollingPolicy>
		<!--  <triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy> -->
		<encoder>
			<pattern>"%d [%thread] %-5level %logger{1024} - %msg%n"</pattern>
		</encoder>
	</appender>

	<!-- Spring related loggers -->
	<logger name="org.springframework" level="WARN" />
	<logger name="org.springframework.beans" level="WARN" />
	<logger name="org.springframework.web" level="WARN" />
	<logger name="com.blog.spring.jms" level="WARN" />

	<!-- AJSC Services (bootstrap services) -->
	<logger name="ajsc" level="WARN" />
	<logger name="ajsc.RouteMgmtService" level="WARN" />
	<logger name="ajsc.ComputeService" level="WARN" />
	<logger name="ajsc.VandelayService" level="WARN" />
	<logger name="ajsc.FilePersistenceService" level="WARN" />
	<logger name="ajsc.UserDefinedJarService" level="WARN" />
	<logger name="ajsc.UserDefinedBeansDefService" level="WARN" />
	<logger name="ajsc.LoggingConfigurationService" level="WARN" />
	
	<!-- AJSC related loggers (DME2 Registration, csi logging, restlet, servlet 
		logging) -->
	<logger name="ajsc.utils" level="WARN" />
	<logger name="ajsc.utils.DME2Helper" level="WARN" />
	<logger name="ajsc.filters" level="WARN" />
	<logger name="ajsc.beans.interceptors" level="WARN" />
	<logger name="ajsc.restlet" level="WARN" />
	<logger name="ajsc.servlet" level="WARN" />
	<logger name="com.att.ajsc" level="WARN" />
	<logger name="com.att.ajsc.csi.logging" level="WARN" />
	<logger name="com.att.ajsc.filemonitor" level="WARN" />

	<!-- Other Loggers that may help troubleshoot -->
	<logger name="net.sf" level="WARN" />
	<logger name="org.apache.commons.httpclient" level="WARN" />
	<logger name="org.apache.commons" level="WARN" />
	<logger name="org.apache.coyote" level="WARN" />
	<logger name="org.apache.jasper" level="WARN" />

	<!-- Camel Related Loggers (including restlet/servlet/jaxrs/cxf logging. 
		May aid in troubleshooting) -->
	<logger name="org.apache.camel" level="WARN" />
	<logger name="org.apache.cxf" level="WARN" />
	<logger name="org.apache.camel.processor.interceptor" level="WARN" />
	<logger name="org.apache.cxf.jaxrs.interceptor" level="WARN" />
	<logger name="org.apache.cxf.service" level="WARN" />
	<logger name="org.restlet" level="WARN" />
	<logger name="org.apache.camel.component.restlet" level="WARN" />

	<!-- logback internals logging -->
	<logger name="ch.qos.logback.classic" level="INFO" />
	<logger name="ch.qos.logback.core" level="INFO" />

	<!-- logback jms appenders & loggers definition starts here -->

	<if condition='property("JMS_BROKER").contains("WMQ")'>
		<then>
			<appender name="Audit-Record-Queue" class="ajsc.JMSQueueAppender">
				<param name="InitialContextFactoryName" value="${JMS_WMQ_INITIAL_CONNECTION_FACTORY_NAME}" />
				<param name="ProviderURL" value="${JMS_WMQ_PROVIDER_URL}" />
				<param name="DestinationName" value="${JMS_WMQ_AUDIT_DESTINATION_NAME}" />
				<param name="ConnectionFactoryName" value="${JMS_WMQ_CONNECTION_FACTORY_NAME}" />
			</appender>
			<appender name="Performance-Tracker-Queue" class="ajsc.JMSQueueAppender">
				<param name="InitialContextFactoryName" value="${JMS_WMQ_INITIAL_CONNECTION_FACTORY_NAME}" />
				<param name="ProviderURL" value="${JMS_WMQ_PROVIDER_URL}" />
				<param name="DestinationName" value="${JMS_WMQ_PERF_DESTINATION_NAME}" />
				<param name="ConnectionFactoryName" value="${JMS_WMQ_CONNECTION_FACTORY_NAME}" />
			</appender>
		</then>
		<else> <!-- logback jms appenders definition starts here -->
			<appender name="Audit-Record-Queue" class="ajsc.JMSQueueAppender">
				<param name="InitialContextFactoryName"
					value="com.tibco.tibjms.naming.TibjmsInitialContextFactory" />
				<param name="ProviderURL" value="${JMS_TIBCO_PROVIDER_URL}" />
				<param name="userName" value="${JMS_LOGGER_USER_NAME}" />
				<param name="password" value="${JMS_LOGGER_PASSWORD}" />
				<QueueBindingName>${JMS_LOGGER_AUDIT_QUEUE_BINDING}
				</QueueBindingName>
			</appender>
			<appender name="Performance-Tracker-Queue" class="ajsc.JMSQueueAppender">
				<param name="InitialContextFactoryName"
					value="com.tibco.tibjms.naming.TibjmsInitialContextFactory" />
				<param name="ProviderURL" value="${JMS_TIBCO_PROVIDER_URL}" />
				<param name="userName" value="${JMS_LOGGER_USER_NAME}" />
				<param name="password" value="${JMS_LOGGER_PASSWORD}" />
				<QueueBindingName>${JMS_LOGGER_PERF_QUEUE_BINDING}
				</QueueBindingName>
			</appender>
		</else>
	</if>
	
	<appender name="ASYNC-audit" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>1000</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<appender-ref ref="Audit-Record-Queue" />
	</appender>
	
	<appender name="ASYNC-perf" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>1000</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<appender-ref ref="Performance-Tracker-Queue" />
	</appender>

	<!--  
	<logger name="AuditRecord" level="INFO" additivity="FALSE">
		<appender-ref ref="ASYNC-audit" />
		<appender-ref ref="auditLogs" />
	</logger>
	<logger name="AuditRecord_DirectCall" level="INFO" additivity="FALSE">
		<appender-ref ref="ASYNC-audit" />
		<appender-ref ref="auditLogs" />
	</logger>
	<logger name="PerfTrackerRecord" level="INFO" additivity="FALSE">
		<appender-ref ref="ASYNC-perf" />
		<appender-ref ref="perfLogs" />
	</logger>	
	-->
		
	<logger name="org.onap.aai" level="INFO" />
	
	<!--
	<logger name="org.onap.aai.util" level="WARN" />
	<logger name="org.onap.aai.rest" level="WARN" />
	<logger name="org.onap.aai.rest.Business" level="WARN" />
	 -->
	
	<logger name="org.apache" level="WARN" />
	<logger name="org.zookeeper" level="WARN" />
	<logger name="com.thinkaurelius" level="WARN" />

	<root level="WARN">
		<appender-ref ref="DEBUG" />
		<appender-ref ref="ERROR" />
		<appender-ref ref="METRIC" />
		<appender-ref ref="AUDIT" />
	</root>

</configuration>
